.search {
  width: 100%;
  background-color: rgb(220, 220, 220, 0.5);
  position: relative;
}

.search__container {
}

.search__title {
  font-family: "Roboto Slab", Arial, sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  margin: 0;
  padding-top: 80px;
  padding-bottom: 60px;
  max-width: 712px;
  padding-left: 100px;
}

.search__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.search__cards__active {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px 16px;
  padding: 0;
  padding-bottom: 55px;
}

.search__container-lower {
  display: flex;
  align-items: center;
}

.search__container-lower-btn {
  width: 288px;
  height: 64px;
  margin: 66px auto 82px;
  padding: 0;
  border: none;
  border-radius: 35px;
  background: #ffffff;
  cursor: pointer;
  z-index: 2;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  position: relative;
  align-self: center;
}

@media screen and (max-width: 768px) {
  .search__title {
    font-size: 30px;
    line-height: 34px;
    padding-top: 45px;
    padding-bottom: 30px;
    width: 250px;
    padding-left: 40px;
  }

  .search__cards {
    gap: 8px 8px;
    justify-content: center;
  }

  .search__cards__active {
    gap: 8px 8px;
    justify-content: center;
  }

  .search__container-lower-btn {
    width: 240px;
    height: 56px;
    margin: 27px auto 42px;
  }
}

@media screen and (max-width: 450px) {
  .search__cards {
    gap: 16px 16px;
    justify-content: center;
  }

  .search__cards__active {
    gap: 16px 16px;
  }

  .search__container-lower-btn {
    width: 95%;
    height: 56px;
    margin-bottom: 24px;
    margin-top: 16px;
    z-index: 1;
  }

  .search__title {
    font-size: 24px;
    line-height: 34px;
    padding-top: 30px;
    padding-bottom: 40px;
    width: 250px;
  }
}
