.headerprofile__title {
  color: #1a1b2280;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 100px;
  margin-top: 40px;
  margin-bottom: 28px;
}

.headerprofile__articles {
  font-family: "Roboto Slab", Arial, sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  height: 92px;
  width: 538px;
  margin: 0;
  padding-left: 100px;
  margin-bottom: 30px;
}

.headerprofile__container {
  width: 774px;
}

.headerprofile__keywords {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 100px;
  margin-bottom: 56px;
  width: 612px;
  margin-right: 0;
}

.headerprofile__examples {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

@media screen and (max-width: 768px) {
  .headerprofile__title {
    font-size: 14px;
    padding-left: 40px;
    margin-top: 24px;
    margin-bottom: 16px;
    width: 84.25%;
  }

  .headerprofile__articles {
    font-size: 30px;
    line-height: 34px;
    height: 68px;
    padding-left: 40px;

    width: 336px;
    margin-bottom: 16px;
    width: 84.25%;
  }

  .headerprofile__container {
    width: 100%;
  }

  .headerprofile__keywords {
    padding-left: 40px;
    margin-bottom: 36px;
    width: 84.25%;
  }
}

@media screen and (max-width: 450px) {
  .headerprofile__title {
    margin: 8px 16px 16px 16px;
    font-size: 12px;
    padding: 0;
  }

  .headerprofile__articles {
    padding-left: 0;
    font-size: 30px;
    width: 90%;
    margin-bottom: 50px;
    margin-right: 16px;
    margin-left: 16px;
  }

  .headerprofile__keywords {
    padding-left: 16px;
    font-size: 18px;
    margin-bottom: 32px;
    margin-top: 0;
  }
}
