/* notLoggedIn */

/* loggedIn */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  border-bottom: 1px rgb(220, 220, 220, 0.5) solid;
  height: 80px;
}

.navbar__page {
  border: none;
  background: transparent;
  color: white;
  height: 79px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;

  border-bottom: 3px white solid;
}

.navbar__page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 34px;
  text-align: center;
}
.navbar__page-container-li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 34px;
  text-align: center;
}
.navbar__signin {
  background: transparent;
  color: white;
  display: inline-block;
  align-items: center;
  border: 1px white solid;
  border-radius: 25px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
  width: 176px;
  height: 48px;
}

.navbar__title {
  width: 200px;
  height: 24px;
  align-self: center;
}

.navbar_menu {
  visibility: hidden;
  background-image: url("../../images/mobile-menu-page.svg");
  background-color: transparent;
  border: none;
}

.navbar__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__saved-articles {
  border: none;
  background: transparent;
  color: #b6bcbf;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
  height: 79px;
}

.navbar__logout-button {
  background: transparent;
  color: white;
  display: flex;
  align-items: center;
  border: 1px white solid;
  border-radius: 20px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
}

.navbar_menu {
  visibility: hidden;
  background-image: url("../../images/mobile-menu-page.svg");
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 820px) {
  .navbar__title {
    height: 24.8px;
    width: 200px;
    align-self: center;
  }
}
@media screen and (max-width: 768px) {
  .navbar__page {
    height: 66px;
    width: 60px;
    font-size: 16px;
  }

  .navbar__title {
    padding-top: 10px;
    height: 21.8px;
    width: 200px;
  }

  .navbar__signin {
    width: 152px;
    height: 40px;
    font-size: 16px;
  }

  /* loggedIn */

  .navbar {
    padding-left: 0px;
    padding-right: 40px;
    height: 66px;
  }

  .navbar__page-container {
    gap: 20px;
  }

  .navbar__saved-articles {
    font-size: 16px;
    width: 160px;
  }

  .navbar__logout-button {
    height: 40px;
    width: 100px;
  }
}
@media screen and (max-width: 600px) {
  .navbar {
    padding: 0 20px 0 20px;
    height: 66px;
  }
  .navbar__page-container {
    width: 160px;
  }
  .navbar__page-container-li {
    display: block;
    width: 160px;
  }
  .navbar__buttons {
    width: 320px;
    visibility: hidden;
    right: 220px;
    width: 150px;
  }
  .navbar_menu {
    visibility: visible;
    position: absolute;
    right: 16px;
    width: 24px;
    height: 24px;
  }
  .navbar__logout-button {
    visibility: hidden;
  }
}

@media screen and (max-width: 493px) {
  .navbar__page {
    padding: 0;
    width: 40px;
  }
  .navbar__page-container-li {
    display: block;
    width: 160px;
  }
  .navbar__signin {
    padding: 0;
    width: 130px;
  }
}

@media screen and (max-width: 474px) {
  .navbar__page-container-li {
    width: 160px;
  }
  .navbar__page-container {
    width: 160px;
  }
  .navbar {
    padding: 0 20px 0 20px;
    height: 56px;
  }

  .navbar__saved-articles {
    font-size: 16px;
    width: 70px;
  }
  .navbar_menu {
    visibility: visible;
    position: absolute;
    right: 16px;
    width: 24px;
    height: 24px;
  }
  .navbar__signin {
    width: 320px;
  }

  .navbar__buttons {
    width: 320px;
    visibility: hidden;
    right: 220px;
    width: 150px;
  }

  .navbar__title {
    width: 117px;
    height: 24px;
    align-self: center;
  }
}
