/* notLoggedIn */

.navbar__nli {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  border-bottom: 1px rgb(220, 220, 220, 0.5) solid;
  height: 80px;
}

.navbar__nli-mobilemenu {
  visibility: hidden;
  background-image: url("../../images/mobile-menu-page.svg");
  background-color: transparent;
  border: none;
}

.navbar__nli-page {
  border: none;
  background: transparent;
  color: white;
  height: 79px;
  width: 68px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
  border-bottom: 3px white solid;
}

.navbar__nli-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 34px;
  text-align: center;
}

.navbar__nli-signin {
  background: transparent;
  color: white;
  display: inline-block;
  align-items: center;
  border: 1px white solid;
  border-radius: 25px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
  width: 176px;
  height: 48px;
}

/* loggedIn */

.navbar__li {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding-left: 100px;
  padding-right: 100px;
  border-bottom: 1px rgb(220, 220, 220, 0.5) solid;
  height: 80px;
}

.navbar__li-page {
  border: none;
  background: transparent;
  color: white;
  height: 79px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;

  border-bottom: 3px white solid;
}

.navbar__li-page-container {
  display: flex;
  gap: 32px;
  height: 79px;
  align-items: center;
}

.navbar__li-title {
  width: 200px;
  height: 24px;
  align-self: center;
}

.navbar__li-mobilemenu {
  visibility: hidden;
  background-image: url("../../images/mobile-menu-page.svg");
  background-color: transparent;
  border: none;
}

.navbar__li-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__li-saved-articles {
  border: none;
  background: transparent;
  color: #b6bcbf;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
  height: 79px;
}

.navbar__li-logout-button {
  background: transparent;
  color: white;
  display: flex;
  align-items: center;
  border: 1px white solid;
  border-radius: 20px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
}

.navbar__li-mobilemenu {
  visibility: hidden;
  background-image: url("../../images/mobile-menu-page.svg");
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 820px) {
  .navbar__li-title {
    height: 24.8px;
    width: 200px;
    align-self: center;
  }
}
@media screen and (max-width: 768px) {
  .navbar__nli {
    padding-left: 40px;
    padding-right: 40px;
    height: 66px;
  }

  .navbar__nli-page {
    height: 66px;
    width: 60px;
    font-size: 16px;
  }

  .navbar__nli-page-container {
    gap: 19px;
  }

  .navbar__nli-title {
    height: 21.8px;
    width: 200px;
  }

  .navbar__nli-signin {
    width: 152px;
    height: 40px;
    font-size: 16px;
  }

  /* loggedIn */

  .navbar__li {
    padding-left: 40px;
    padding-right: 40px;
    height: 66px;
  }

  .navbar__li-page {
    height: 66px;
    font-size: 16px;
    width: 60px;
  }
  .navbar__li-title {
    width: 200px;
    height: 24.8px;
    align-self: center;
  }
  .navbar__li-page-container {
    gap: 0px;
  }

  .navbar__li-saved-articles {
    font-size: 16px;
    width: 160px;
  }

  .navbar__li-logout-button {
    height: 40px;
  }
}

@media screen and (max-width: 493px) {
  .navbar__nli-page {
    padding: 0;
    width: 40px;
  }

  .navbar__nli-signin {
    padding: 0;
    width: 130px;
  }
}

@media screen and (max-width: 450px) {
  .navbar__nli {
    padding: 0 20px 0 20px;
    height: 66px;
  }

  .navbar__nli-buttons {
    visibility: hidden;
    right: 40px;
  }

  .navbar__nli-mobilemenu {
    visibility: visible;
    position: absolute;
    right: 16px;
    width: 24px;
    height: 24px;
  }

  /* loggedIn */

  .navbar__li-buttons {
    visibility: hidden;
    right: 220px;
    width: 150px;
  }

  .navbar__li-mobilemenu {
    visibility: visible;
  }

  .navbar__li {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
  }

  .navbar__li-mobilemenu {
    visibility: visible;
    position: absolute;
    right: 16px;
    top: 18px;
    width: 24px;
    height: 24px;
  }
  .navbar__li-title {
    width: 117px;
    height: 24px;
    align-self: center;
  }
}
