.headerpage {
  background-image: url("../../images/background.svg");
  height: 576px;
}

.headerpage__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerpage__container-text {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: start;
  margin-left: 30px;
}

.headerpage__container-title {
  font-family: "Roboto Slab", Arial, sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 64px;
  width: 608px;
  margin: 40px 0 10px 0;
}

.headerpage__container-subtitle {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  width: 608px;
}

@media screen and (max-width: 768px) {
  .headerpage {
    height: 400px;
  }

  .headerpage__container {
    height: 340px;
    width: 90%;
  }

  .headerpage__container-text {
    height: 144px;
    max-width: 452px;
    margin: 0px;
  }

  .headerpage__container-title {
    font-family: "Roboto Slab", Arial, sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    width: 85%;
    height: 80px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .headerpage__container-subtitle {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    max-width: 452px;
    /* width: 80%; */
    height: 48px;
    margin-top: 0;
  }
  @media screen and (max-width: 630px) {
    .headerpage__container-text {
      margin: 15px;
    }
  }
  @media screen and (max-width: 580px) {
    .headerpage {
      height: 536px;
    }
    .headerpage__container-subtitle {
      max-width: 395px;
    }
    .headerpage__container {
      height: 420px;
      gap: 70px;
    }
  }

  @media screen and (max-width: 450px) {
    .headerpage__container-text {
      margin: 0;
      max-width: 285px;
    }

    .headerpage__container {
      height: 480px;
      justify-content: start;
      padding-top: 35px;
      gap: 45px;
      padding-left: 20px;
    }
    .headerpage__container-title {
      width: 285px;
      margin-top: 0;
      font-size: 36px;
      margin-bottom: 0;
      align-self: flex-start;
    }

    .headerpage__container-subtitle {
      width: 92%;
      padding: 0;
      align-self: flex-start;
      margin-top: 16px;
    }
  }

  @media screen and (max-width: 322px) {
    .headerpage__container-subtitle {
      margin-top: 16px;
    }
  }
}
