.about {
  display: flex;
  justify-content: center;
  gap: 25px;
  height: 624px;
  width: 100%;
  position: relative;
}

.about__left {
  margin: 80px 0 80px 80px;
  margin-right: 0;
}

.about__left-picture {
  width: 500px;
  height: 500px;
  border-radius: 45%;
}

.about__right {
  margin-top: 85px;
  width: 600px;
  margin: 80px 80px 80px 0;
}

.about__right-title {
  font-family: "Roboto Slab", Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
}

.about__right-subtitle {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

@media screen and (max-width: 826px) {
  .about__left-picture {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .about {
    height: 354px;
    padding-left: 0;
  }

  .about__left {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 232px;
    height: 232px;
    margin-left: 40px;
  }

  .about__left-picture {
    width: 232px;
    height: 232px;
  }

  .about__right {
    margin-top: 25px;
    width: 424px;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
  }

  .about__right-subtitle {
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .about {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0;
    height: 600px;
    align-items: center;
  }

  .about__left {
    margin: 0;
    width: 272px;
    height: 100%;
    margin-top: 22px;
    margin-left: 0px;
  }

  .about__left-picture {
    width: 272px;
    height: 272px;
  }

  .about__right {
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;
    align-items: center;
    height: 100%;

    margin-right: 0;
  }

  .about__right-title {
    width: 90%;

    margin-left: 40px;
  }

  .about__right-subtitle {
    width: 90%;

    margin-left: 40px;
    margin-right: 16px;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 553px) {
  .about__right-title {
    width: 90%;
  }

  .about__right-subtitle {
    width: 80%;
    margin-left: 16px;
  }
}

@media screen and (max-width: 450px) {
  .about {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0;
    height: 752px;
    align-items: center;
  }
  .about__left {
    margin: 0;
    width: 272px;
    height: 272px;
    margin-top: 22px;
    margin-left: 16px;
    margin-left: 0;
  }

  .about__left-picture {
    width: 272px;
    height: 272px;
  }

  .about__right {
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;
    /* align-items: center; */

    margin-bottom: 106px;
  }

  .about__right-title {
    width: 90%;

    margin-left: 0px;
  }

  .about__right-subtitle {
    width: 90%;

    margin-left: 16px;
    margin-right: 16px;
    justify-content: center;
    align-items: center;
  }
}
