.search__form {
  margin: 0 auto 75px auto;
  padding-top: 90px;
  max-width: 608px;
  height: 64px;
  position: relative;
}

.search__form-button {
  width: 168px;
  height: 64px;
  background-color: rgb(62, 62, 244);
  color: white;
  border-radius: 60px;
  border: none;
  position: absolute;
  right: -10px;
  cursor: pointer;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.search__form-button-clicked {
  width: 168px;
  height: 64px;
  background-color: rgb(62, 62, 244);
  color: white;
  border-radius: 60px;
  border: none;
  position: absolute;
  right: -10px;
  cursor: pointer;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.search__form-input {
  width: 560px;
  height: 61px;
  border: none;
  border-radius: 50px;
  outline: none;
  padding-left: 20px;
  font-size: large;
}

.search__form-input::placeholder {
  outline: none;
}

/* .search__form-input:active {
  border: none;
} */

@media screen and (max-width: 768px) {
  .search__form {
    max-width: 80%;
    height: 58px;
    margin: 0 auto 39px auto;
    padding-top: 48px;
    padding-left: 75px;
  }

  .search__form-input {
    max-width: 70%;
    height: 57px;
  }

  .search__form-button {
    top: 47px;
    right: 70px;
    max-width: 156px;
    height: 61px;
  }

  .search__form-button-clicked {
    top: 47px;
    right: 70px;
    max-width: 156px;
    height: 61px;
  }
}

@media screen and (max-width: 450px) {
  .search__form {
    max-width: calc(100% - 32px);
    padding-left: 0;
    padding-top: 120px;
  }

  .search__form-input {
    max-width: calc(100% - 22px);
    height: 56px;

    margin-top: 0;
  }

  .search__form-button {
    width: 100%;
    max-width: 452px;
    top: 190px;
    left: 0;
    height: 56px;
  }
  .search__form-button-clicked {
    width: 100%;
    max-width: 452px;
    top: 190px;
    left: 0;
    height: 56px;
  }
}

@media screen and (max-width: 316px) {
  .search__form {
    padding-top: 120px;
  }

  .search__form-button {
    top: 190px;
  }

  .search__form-button-clicked {
    top: 190px;
  }
}
